/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    //withName: SAMPLESHEET_CHECK {
    //    publishDir = [
    //        path: { "${params.outdir}/pipeline_info" },
    //        mode: params.publish_dir_mode,
    //        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    //    ]
    //}

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: CHOPPER {
        ext.args  = '' //This is for zcat
        ext.args2 = { [
            params.quality > 0       ? " --quality ${params.quality}"     : '',
            params.minlength > 0     ? " --minlength ${params.minlength}" : '',
            params.maxlength > 0     ? " --maxlength ${params.maxlength}" : ''
        ].join(' ').trim() }
        ext.args3 = ''  //This is for gzip
    }

    withName: SAMTOOLS_BAM2FQ {
        ext.args = '-T MM,ML'
    }

    withName: MINIMAP2_ALIGN {
        ext.args = '-ax map-ont -y --secondary=no'
    }

    withName: SAMTOOLS_INDEX {
        publishDir = [
            path: { "${params.outdir}/minimap2" },
            mode: params.publish_dir_mode,
            pattern: "*.bai"
        ]
    }

    withName: MODKIT_PILEUP {
        ext.args  = { [
            params.threshold_C > 0        ? "--filter-threshold C:${params.threshold_C}"   : '',
            params.threshold_A > 0        ? "--filter-threshold A:${params.threshold_A}"   : '',
            params.modthresholds_m > 0    ? "--mod-thresholds m:${params.modthresholds_m}" : '',
            params.modthresholds_a > 0    ? "--mod-thresholds a:${params.modthresholds_a}" : '',
            params.modthresholds_C > 0    ? "--mod-thresholds C:${params.modthresholds_C}" : '',
            params.modthresholds_A > 0    ? "--mod-thresholds A:${params.modthresholds_A}" : ''
        ].join(' ').trim() }
        ext.args2 = { [
            params.sept                   ? "--only-tabs"                                  : ''
        ].join(' ').trim() }
        ext.args3 = { [
            params.motif_CG               ? "--motif CG 0"  : '',
            params.motif_CHG              ? "--motif CHG 0" : '',
            params.motif_CHH              ? "--motif CHH 0" : '',
            params.motif_A                ? "--motif A 0"   : ''
        ].join(' ').trim() }
    }


    // --region chr01:4000000-4001000 --motif CG 0 --motif CHG 0 --motif CHH 0 --motif A 0 --ref /nesi/project/brins03581/RefData/PN40024.v4.REF.fasta

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
